<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aula 17 - Estilo Dinâmico e Classe CSS</title>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <style>
        .caixas{
            display: flex;
            justify-content: space-around;
        }

        .demo{
            width: 100px;
            height: 100px;
            background-color: grey;
        }

        .c1{
            background-color: red;
        }

        .c2{
            background-color: green;
        }

        .c3{
            background-color: blue;
        }

        .girar{
            transform: rotate(45deg);
        }
    </style>
    
    <h1>Aula 17 - Estilo Dinâmico e Classe CSS</h1>

    <div id="app">
        <div class="caixas">
            <div class="demo" :style="{'background-color': cor}"></div>
            <div class="demo" :style="meuEstilo"></div>
            <div class="demo"></div>
        </div>
        <hr>
        <input type="text" v-model="cor">
        <input type="text" v-model="largura">
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                cor: 'red',
                largura: 100
            },
            computed: {
                meuEstilo() {
                    return {
                        //usar camel case nas propriedades css
                        backgroundColor: this.cor,
                        width: `${this.largura}px`
                    }
                }
            }
        })
    </script>

</body>
</html>