<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aula 20 - Condicionais</title>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>   
    
    <h1>Aula 20 - Condicionais</h1>

    <div id="app">

        <!--a tag template não será criada na renderização final do HTML-->
        <template v-if="logado">
            <p>Usuário logado: {{ nome }}</p>
            <p>Perfil: Admin</p>
        </template>

        <p v-else-if="anonimo">Navegando anonimamente</p>
        <p v-else>Nenhum usuário logado</p>
        <button @click="logado = !logado">{{ logado ? 'Sair' : 'Entrar' }}</button>
        <input type="checkbox" v-model="anonimo">
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                nome: 'Maria',
                logado: false,
                anonimo: false
            }            
        })
    </script>

</body>
</html>